<div class="flex flex-col min-h-screen">
  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-center gap-4">
      <button 
        routerLink="/login"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300">
        Login
      </button>
      <button 
        routerLink="/register"
        class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition duration-300">
        Register
      </button>
      <button 
        routerLink="/home"
        class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600 transition duration-300">
        Home
      </button>
       <button 
        routerLink="/Shome"
        class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600 transition duration-300">
        SaloonHome
      </button>
       <button 
        routerLink="/bookingwizerd"
        class="px-4 py-2 bg-purple-500 text-white rounded hover:bg-purple-600 transition duration-300">
        Book Now
      </button>
      <!-- <button 
        (click)="toggleBookingWizard()"
        class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600 transition duration-300">
        Book Now
      </button> -->
    </div>
  </nav>

  <main class="flex-grow">
    <!-- <app-booking-wizard *ngIf="showBookingWizard"></app-booking-wizard> -->
    <router-outlet></router-outlet>
  </main>
</div>
